Repository stormsw/tictactoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pytest-coverage, eslint-check

ruff-check:
  name: ruff-check
  entry: uv run ruff check
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format --check
  language: system
  require_serial: true

pytest-coverage:
  name: pytest-coverage
  entry: uv run pytest tests/test_ai_service.py tests/test_game_logic.py --cov=app --cov-report=term-missing --cov-fail-under=30
  language: system
  pass_filenames: false
  require_serial: true

eslint-check:
  name: eslint-check
  entry: bash -c 'cd public && npm run lint'
  language: system
  require_serial: true

fix tests, introduce vitest
  .gitignore
  .pre-commit-config.yaml
  public/package-lock.json
  public/package.json
  public/src/__tests__/Navigation.test.tsx
  public/src/__tests__/helpers.test.ts
  public/src/setupTests.ts
  public/src/utils/helpers.ts
  public/tsconfig.json
  public/tsconfig.test.json
  public/vitest.config.ts
Due: eslint-check

Add comprehensive Vitest tests to increase frontend coverage to 30.71%
  README.md
  public/src/__tests__/LoginForm.test.tsx
  public/src/__tests__/apiService.test.ts
  public/src/__tests__/useAuthStore.test.ts
  public/src/__tests__/utilityHelpers.test.ts
  public/src/utils/helpers.ts
Due: eslint-check

fixed tests
  README.md
  app/models/game.py
  app/services/game_service.py
  public/src/App.tsx
  public/src/__tests__/App.simple.test.tsx
  public/src/__tests__/App.test.tsx
  public/src/__tests__/GameBoard.simple.test.tsx
  public/src/__tests__/GameBoard.test.tsx
  public/src/__tests__/GameLobby.simple.test.tsx
  public/src/__tests__/GameLobby.working.test.tsx
  public/src/__tests__/Leaderboard.simple.test.tsx
  public/src/__tests__/Leaderboard.test.tsx
  public/src/__tests__/LoginForm.test.tsx
  public/src/__tests__/helpers.test.ts
  public/src/__tests__/useAuthStore.test.ts
  public/src/__tests__/useWebSocket.simple.test.ts
  public/src/__tests__/utilityHelpers.test.ts
  public/src/components/ErrorBoundary.tsx
  public/src/components/GameBoard.tsx
Due: ruff-check, ruff-format, pytest-coverage, eslint-check

Add GH workflows
  .github/workflows/ci-coverage.yml
  .github/workflows/coverage-badge.yml
  .github/workflows/tests.yml
  README.md
  codecov.yml
  public/src/App.tsx
  public/src/__tests__/App.test.tsx
  public/src/__tests__/GameBoard.test.tsx
  public/src/components/ErrorBoundary.tsx
  public/src/components/GameBoard.tsx
Due: eslint-check

fix dev dependencies
  pyproject.toml
  uv.lock
Due: none

fix pytest
  pyproject.toml
  tests/test_redis_integration.py
  uv.lock
Due: ruff-check, ruff-format, pytest-coverage

Add pytests
  .coveragerc
  app/services/leaderboard_service.py
  pyproject.toml
  tests/test_ai_service.py
  tests/test_coverage_improvements.py
  tests/test_database.py
  tests/test_database_extended.py
  tests/test_game_models.py
  tests/test_game_service.py
  tests/test_game_service_extended.py
  tests/test_game_service_helpers.py
  tests/test_leaderboard_service.py
  tests/test_redis_coverage.py
  tests/test_redis_extended.py
  tests/test_redis_service.py
  tests/test_routers.py
  tests/test_user_service.py
  tests/test_websocket_service.py
Due: ruff-check, ruff-format, pytest-coverage

Make httpx explicit
  pyproject.toml
  uv.lock
Due: none

refactor to lifespan instead of fastapi events
  app/services/game_service.py
  main.py
  tests/test_game_service.py
Due: ruff-check, ruff-format, pytest-coverage

fix UI test
  public/src/__tests__/useWebSocket.simple.test.ts
Due: eslint-check

Suggested permission declaration
  .github/workflows/ci-coverage.yml
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  pytest-coverage: any of: \.py$
  eslint-check: any of: ^public/.*\.(js|jsx|ts|tsx)$
